<h1>Employee Details</h1>

<h3>Looking for Employee ID #<%= @id %></h3>

<h4><%= @employee.allcaps_name %></h4>
<h4><%= @employee.email %></h4>
<h4><%= @employee.ssn %></h4>


<%= @employee.inspect %>

<br />
